    
<div class="row" *ngIf="show == false">
    <div class="container">
        <div class="col-md-12 col-xs-12 col-sm-12 col-xl-12 ">
            <div buttons style="margin-top: -95px;">
            <button class="ms-5"><b>ORTHOPEDICS</b></button> &nbsp; &nbsp;
            <button class="ms-5" ><b>AUDIOLOGY</b></button>  &nbsp; &nbsp;
            <button class="ms-5"><b>CARDIOLOGY</b></button>  &nbsp; &nbsp;
            <button class="ms-5"><b>PSYCHOLOGY</b></button>  &nbsp; &nbsp;
            <button class="ms-5"><b>DIETICIAN</b></button>  &nbsp; &nbsp;
            <button class="ms-5"><b>ENDOCRINOLOGY</b></button> &nbsp; &nbsp;
            <button class="ms-5"><b>NEPHROLOGY</b></button>  &nbsp; &nbsp;
            <button class="ms-5"><b>PEDIATRICS</b></button>  
            </div>

            </div>
    </div>
</div>

<div class="row ">
    <div class="col-md-1"> </div>
    <div class="col-md-3">
    <img class="ms-5 mt-5" src="{{x.image}}">
    </div>
   <div class="col-md-7">
    <h2 class="mt-5">DR.{{x.name}}</h2><br>
    <h5><b>Senior Consultant -Interventional {{x.depart}}</b></h5><br>
    <p>MD, DM ({{x.depart}}), MRCP, Fellow of the American <br> of Cardiology, Fellow of the Gulf Heart Association,<br> Fellow of the Cardiological Society of India, Fellow of the Royal College of Physicians</p>
    <br>
    <h5><b>SPECIALITY</b></h5>
    <br>
    <h4><b>{{x.depart}}</b></h4>

   </div>
</div>
<div class="row">
    <div class="col-md-4"> </div>
    <div class="col-md-8"> 
        <button  style="width: 201px;  border-radius: 1px;  background-color: black;  color: white;font-size: 17px;box-shadow: 0px 0px 0px;"> Book Appointment</button> 
        <button style="background-color: black;
        color: white;
        font-size: 20px;
        border-radius: 1px; box-shadow: 0px 0px 0px;" class="ms-3" (click)="goBack()"> Back</button>
    </div>
    

</div>

